{% extends 'base.html.twig' %}

{% block title %}Messagerie
{% endblock %}

{% block content %}

	<section>
		<h2 class="text-center text-white">Répondre au message de
			{{message.name}}
		</h2>
		<br>
		<div class="container">
			<div class="row">

				{{form_start(form)}}
				{{ form_row(form.name,{'label':false, 'value':app.user.firstName, 'attr':{'placeholder':"Votre nom"}})}}
				{{ form_row(form.email,{'label':false, 'value':message.email, 'attr':{'placeholder':"Email du client"}})}}
				{{ form_row(form.subject,{'label':false, 'value':'RE: ' ~ message.subject, 'attr':{'placeholder':"Le sujet"}})}}
				{{ form_row(form.content,{'label':false,'value':'Bonjour ' ~ message.name, 'attr':{'placeholder':"Votre message"}})}}
				{{form_end(form)}}

			</div>
		</div>
	</section>
{% endblock %}
