<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
		</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Retrouvez chez Fan Coiffure tous nos conseils de pro : soins, coiffures, tendances. Rdv en salon pour profiter de nos services"/>
		<meta name="keywords" content=""/>
		<link rel="shortcut icon" href="{{asset('public/assets/uploads/FanLogo1.png')}}">
		<link rel="stylesheet" href="{{asset('public/assets/css/bootstrap.css')}}">
		<link rel="stylesheet" href="{{asset('public/assets/css/aos.css')}}">
		<link rel="stylesheet" href="{{asset('public/assets/css/animate.css')}}">
		<link rel="stylesheet" href="{{asset('public/assets/css/style.css')}}">
		<link rel="stylesheet" id="switchStyle" href="{{asset('public/assets/css/nojs.css')}}">
	</head>
	<body>

		{% include "partials/header.html.twig" %}

		{% block content %}{% endblock %}

		{% include "partials/footer.html.twig" %}

		{% block javascripts %}
			<script src="{{asset('public/assets/js/jquery.js')}}"></script>
			<script src="{{asset('public/assets/js/fontawsome.js')}}"></script>
			<script src="{{asset('public/assets/js/aos.js')}}"></script>
			<script src="{{asset('public/assets/js/bootstrap.bundle.js')}}"></script>
			<script src="{{asset('public/assets/js/index.js')}}"></script>
		{% endblock %}
	</body>
</html>
